<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World! Update available </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body class="container">
    <div class="form-group">
      <div><h1>Hello Electron default is changed <h1></div>
    </div>
    <div ng-app="myApp" ng-controller="customersCtrl" class="form-group"> 
      <input type="text" id="myInput" ng-model="myInput" class="form-control" placeholder="Search here..." ng-change="searchDB();$event.preventDefault()">
        <table>
          <tr ng-repeat="x in dbData">
              <td>{{x.id}}</td>
              <td>{{x.email}}</td>
              <td>{{x.name}}</td>
              <td><input type="button" ng-model="addbtn" name="addbtn" class="btn btn-primary" value="Add" ng-click="addList(x)"></td>
          </tr>
        </table>
        <div id="printableArea">
        <div><h3>Data in cart </h3></div>
          <table>
          <tr ng-repeat="x in cartData">
              <td>{{x.id}}</td>
              <td>{{x.email}}</td>
              <td>{{x.name}}</td>
              <td><input type="button" ng-model="rmbtn" name="rmbtn" value="Remove" class="btn btn-primary" ng-click="removeList(x)"></td>
          </tr>
        </table>
        <button onclick="window.print()" class="btn btn-primary">Print Div</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
          $scope.dbData = [];
          $scope.cartData = {};
          $scope.myList=[];

          $scope.searchDB = function(){
            console.log('In searchDB')
            var mysql = require('mysql');
            var searchId=$scope.myInput;
            console.log('Searching for  '+searchId)
            var srcdo = "'%"+searchId+"%'";
            // Add the credentials to access your database
            if(searchId.trim()){
              var connection = mysql.createConnection({
                host     : 'localhost',
                user     : 'root',
                password : 'root', // or the original password : 'apaswword'
                database : 'test_db'
            });

            // connect to mysql
            connection.connect(function(err) {
                // in case of error
                if(err){
                    console.log(err.code);
                    console.log(err.fatal);
                }
            });

            // Perform a query
            q = 'SELECT * FROM `user` where name like ';
            finalQuery= q.concat(srcdo);
            console.log('Final query is : '+ finalQuery);
            $query = finalQuery;

            connection.query($query, function(err, rows, fields) {
                if(err){
                    console.log("An error ocurred performing the query.");
                    console.log(err);
                    return;
                }else{
                    console.log("Query succesfully executed ", JSON.stringify(rows));
                }

                $scope.updateData(rows);
               // $scope.dbData = rows;
                // printdata(rows);
            });

              // Close the connection
              connection.end(function(){
                // The connection has been closed
              });
            }
          }

        $scope.updateData=function(data){
          $scope.dbData=data;
          $scope.$apply();
        }
        
        $scope.addList=function(x){
          console.log("In addList function")
          $scope.cartData[x.id]=x
          console.log(JSON.stringify($scope.cartData));
        }
        
        $scope.removeList=function(x){
          console.log("In removeList function")
          delete $scope.cartData[x.id];
          console.log(JSON.stringify($scope.cartData));
        }

    });
    </script>

    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>

  </body>
</html>
